<h1>Listing products</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Stock quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= product.stock_quantity %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>

<br><br>

<p>Average price of products in the database: $<%= @average_price %></p>
<p>Maximum price of any product in the database: $<%= @max_price %></p>
<p>Total number of unique products in the database: <%= @count %></p>
<p>Quantity of stock in the database summed over all items: <%= @total_stock %></p>
<br>
<p>Display the words "Chunky Bacon" 100 times, with each string on a new line:</p>
<% words = [] %>
<% 100.times { words << "Chunky Bacon" } %>
<% words.each do |line| %>
  <p><%= line %></p>
<% end %>